.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
    height: 220px;
    color: rgb(140, 140, 151);
    background-image: url(../images/logo.png);
    background-size: 300px;
    background-repeat: no-repeat;
}
.header__h1{
    padding-right:  100px;
}

.dark {
    background-image: url(../images/night.jpg) ;
    background-size: 120%;
    background-attachment: local;
}

.yellow {
    box-shadow: 0 0 80px 11px #FFEA07
}