.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
    height: 300px;
    color: rgb(14, 44, 100);

}
.header__logo{
    align-self: flex-start;

}

/* .button {
    color: black;
    outline-offset: -25px;
    width: 80px;
    height: 80px;
    margin: 20px;
    font-size: 25px;
    padding: 10px; */
    
}

.dark {
    background-color: rgb(0, 0, 0);
    color: rgba(44, 3, 68, 0.26);
}

.yellow {
    box-shadow: 0 0 80px 11px #FFEA07
}