html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.nav {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1000px;
    text-align: left;
    font-size: 20px;
    /* border: 2px solid rgb(255 255 255); */
    padding: 50px 0 50px 70px;
    box-shadow: 10px 10px 14px -4px #dddbdc6c;
    margin: 15px;
    line-height: 1.5;
    /* background-image: url("../images/picture.jpg");
    background-position: 40% 10%;
    background-size: 1500px; */
}

.nav__list {
    list-style: none;
    padding-left: 100px;
}

.nav__link {
    color: rgb(74, 107, 199);
    text-decoration: none;
}

.nav__link:focus {
    outline: 2px solid currentColor
}

.nav__link:hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px, solid;
    outline: none;
    font-weight: 700;
}