html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.nav {
    max-width: 1000px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    margin: 5px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0 40px;
}

.nav__list {
    list-style: none;
    padding-left: 100px;
}

.nav__link {
    color: rgb(140, 140, 151);
    text-decoration: none;
    list-style: none;
}

.nav__link:hover {
    color: rgb(187 167 229);
    border-bottom: 2px, solid;
    outline: none;
    font-weight: 700;
}

