html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-image: url(../images/picture.jpg);
    background-size: 130%;
    border-radius: 0 50px;
}

.main {
    max-width: 1000px;
    margin: 15px;
    border-radius: 20px;
}

.footer {
    padding: 2%;
    font-size: 14px;
}