html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    text-align: left;
    line-height: 2;
    background-color: white;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.table {
    background-color: rgb(251 251 251 / 71%);
    table-layout: fixed;
    max-width: 1000px;
    border-collapse: collapse;
    margin: 30px auto;
    text-align: auto;
    padding: 30px;
    line-height: 1;
}

.cell {
    border: 1px solid rgb(107, 97, 97);
    padding: 10px;
}

.caption {
    caption-side: top;
    text-align: left;
    margin: 10px;
    font-size: 14px;
}

.tableHeader {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(98 90 90);
    background-color: rgb(172, 173, 236);
    border: 1px solid rgb(107, 97, 97);
}

.header {
    max-width: 1000px;
    padding: 20px;
    height: 200px;
    background-color: rgb(205 224 233);
    color: rgb(14, 44, 100);
    border: 2px solid rgb(255 255 255);
    box-shadow: 10px 10px 14px -4px #DDDBDC;
    font-size: 35px;
    margin: 15px
}

.nav {
    max-width: 1000px;
    text-align: left;
    font-size: 20px;
    background-color: rgb(205 224 233);
    border: 2px solid rgb(255 255 255);
    padding-left: 70px;
    box-shadow: 10px 10px 14px -4px #DDDBDC;
    margin: 15px;
    line-height: 1.5;
}

.main {
    max-width: 1000px;
    background-color: rgb(205 224 233);
    border: 2px solid rgb(255 255 255);
    box-shadow: 10px 10px 14px -4px #DDDBDC;
    margin: 15px
}

.divTable {
    text-align: center;
}

.td1 {
    padding: 0 20px;
    background-color: rgb(205 224 233);
}

.td2 {
    padding: 0 40px;
    text-align: left;
    font-size: 21px;
    background-color: rgb(205 224 233);
}

.tableRow:hover {
    background-color: #adc;
}

.list {
    list-style: none;
}

.inci {
    list-style-type: square;
    margin: 5px;
    list-style-position: outside;
    text-align: left;
}

.aside {
    width: 200px;
    height: 400px;
    background-color: rgb(205 224 233);
    border: 6px double rgb(239 239 239);
    box-shadow: 10px 10px 14px -4px #8d8f98;
    margin: 50px 40px;
    text-align: right;
    padding: 10px;
}

.tableMain {
    max-width: 1000;
    border-width: 0 0 50px;
    border: black 2px;
}

.section {
    border: 2px solid rgb(210 222 228);
    margin: 40px;
    background-color: #d6e6ee;
    line-height: 1.75;
    padding: 20px;
}

.quote {
    text-align: left;
    font-size: 35px;
}

.link {
    color: rgb(74, 107, 199);
    text-decoration: none;
}

.link:focus {
    outline: 2px solid currentColor
}

.link:hover {
    color: rgb(0, 0, 0);
    border-bottom: 2px, solid;
    outline: none;
    font-weight: 700;
}

.footer {
    padding: 2%;
    font-size: 14px;
}

.button {
    color: black;
    outline: 4px solid rgba(133, 127, 127, 0.288);
    outline-offset: -25px;
    width: 250px;
    height: 100px;
    margin: 20px;
}

.dark {
    background-color: rgb(0, 0, 0);
    color: rgba(44, 3, 68, 0.26);
}

.yellow {
    box-shadow: 0 0 80px 11px #FFEA07
}